
<p>
Hello <%=name%>!
</p>

<p>
Thanks for registering!
</p>

<% if( confirmcode ) { %>
<p>
Please confirm your registration by visiting 
<a href="<%=confirmlink%>"><%=confirmlink%></a>
</p>
<% } %>

<p>
regards,<br>
Seneca
</p>
